PORT=3000
NODE_ENV=development

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=demo_credit

# JWT
JWT_SECRET=

# Lendsqr Adjutor API
ADJUTOR_API_KEY=
ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2
